@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    2780 Mala Vista Drive<br />
    South Park<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@southparkhardware.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@southparkhardware.com</a>
</address>