@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/Logo.png"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get more hardware</h2>
        <p>
            With the largest selection of hardware in all of South Park, register today and get a 10% discount on your first order.
        </p>
        <p><a class="btn btn-default" href="~/Hardware">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Free shipping</h2>
        <p>Free shipping to anywhere in South Park or some regions for all orders over $100</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Free DVD</h2>
        <p>Get a free home improvement DVD on your first order</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>